RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# CHECKME: is index.php in reference to the current http path or to this htaccess file?
RewriteRule . index.php [L]
